/lista01/Ex2/nbproject/private/
/lista01/ex1/dist/
/lista01/Ex2/build/
/lista01/Ex8/nbproject/private/
/lista01/Ex8/build/
/lista01/Ex9/nbproject/private/
/lista01/Ex9/build/
/lista01/Ex10/nbproject/private/
/lista01/Ex10/build/