/lista01/Ex2/nbproject/private/
/lista01/ex1/dist/
/lista01/Ex2/build/
/lista01/Ex8/nbproject/private/
/lista01/Ex8/build/
/lista01/Ex9/nbproject/private/
/lista01/Ex9/build/
/lista01/Ex10/nbproject/private/
/lista01/Ex10/build/
/lista02/ex01/nbproject/private/
/lista02/ex01/build/
/lista02/Ex02/nbproject/private/
/lista02/Ex02/build/
/lista02/Ex03/nbproject/private/
/lista02/Ex03/build/
/lista02/Ex4/nbproject/private/
/lista02/Ex4/build/
/lista02/Ex5/nbproject/private/
/lista02/Ex5/build/